footer {
    margin-top: 10px;
    background-color: #e8e8e8;
    font-size: 12px;
}

a {
    color: inherit;
}

textarea {
    resize: vertical;
    min-height: 70px;
}

#recent-list {
    height: 280px;
    overflow: scroll;
    overflow-x: hidden;
}

#message {
    height: 230px;
}

.splt-wrapper {
    width: 350px;
    height: 310px;
}

.splt-heading {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.splt-subheading {
    word-wrap: break-word;
    font-size: 14px;
    font-style: italic;
}

.splt-row-float {
    position: relative;
}

.splt-row-float:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.splt-float-left {
    float: left;
    width: 30%;
}

.splt-float-right {
    float: right;
    width: 70%;
}

.splt-buttons-row {
    margin-top: 10px;
}

.splt-no-margin{
    margin:0px !important;
}

.splt-success {
    margin: 10px 0 0 0;
}

.splt-container {
    min-height: 100%;
    height: auto !important;
}

.splt-hide {
    display: none;
}
